/* RESETS */
body {
  margin: 0;
  font-family: Arial, Helvetica, sans-serif;
  padding-bottom: 600px;
}

h1,
ul,
p {
  margin: 0;
}

ul {
  padding: 0;
  list-style: none;
}

a {
  text-decoration: none;
  color: inherit;
}

img {
  max-width: 100%;
  display: block;
}
/* ---------- */

/* HEADER */
.header-bg {
  background-color: #000000;
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px;
  box-sizing: border-box;
  max-width: 1200px;
  margin: 0 auto;
  flex-wrap: wrap;
  gap: 20px;
}

.header-menu {
  display: flex;
  gap: 40px;
  flex-wrap: wrap;
}

.header-menu a {
  padding: 16px 0;
  display: inline-block;
  color: #fff;
  font-size: 18px;
  position: relative;
}

.header-menu a::after {
  content: "";
  display: block;
  height: 2px;
  width: 0;
  background: #ffffff;
  margin-top: 4px;
  position: absolute;
  transition: 0.3s;
  -webkit-transition: 0.3s;
  -moz-transition: 0.3s;
  -ms-transition: 0.3s;
  -o-transition: 0.3s;
}

.header-menu a:hover:after {
  width: 100%;
}

@media (max-width: 800px) {
  .header-menu {
    gap: 20px;
  }

  .header a::after {
    display: none;
  }

  .header-menu a {
    background: #111;
    padding: 12px 16px;
    border-radius: 4px;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    -ms-border-radius: 4px;
    -o-border-radius: 4px;
  }

  .header-menu a:hover {
    background: #2e2e2e;
  }
}

@media (max-width: 600px) {
  .header-menu {
    gap: 12px;
  }

  .header-menu a {
    padding: 8px 12px;
    font-size: 14px;
    font-family: "Poppins", sans-serif;
    font-weight: 400;
  }
}
/* ---------- */

/* INTRO */
.intro-bg {
  background: #000000;
  color: #ffffff;
  box-shadow: inset 0 -120px #ffffff;
}

.intro {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 0 40px;
  box-sizing: border-box;
  max-width: 1200px;
  margin: 0 auto;
  padding: 0 20px;
}

.intro-conteudo {
  align-self: end;
  padding-bottom: calc(80px + 120px);
}

.intro img {
  height: 100%;
  object-fit: cover;
  border-radius: 4px;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  -ms-border-radius: 4px;
  -o-border-radius: 4px;
}

.intro h1 {
  margin-bottom: 32px;
  font-size: 64px;
  line-height: 1.125;
  font-family: "Poppins", sans-serif;
  font-weight: 600;
}

.intro p {
  margin-bottom: 20px;
  font-size: 24px;
  line-height: 1.5;
  color: #b2b2b2;
  font-family: "Roboto", sans-serif;
  font-weight: 400;
}

.intro h1 span {
  color: #ffbb00;
}

.intro a {
  padding: 16px 32px;
  display: inline-block;
  text-transform: uppercase;
  color: #332200;
  font-size: 18px;
  line-height: 1.33;
  background: linear-gradient(#ffbb00, #f2a50c);
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.1);
  border-radius: 4px;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  -ms-border-radius: 4px;
  -o-border-radius: 4px;
  font-family: "Poppins", sans-serif;
  font-weight: 600;
}

.intro a:hover {
  background: linear-gradient(#ffb60d, #e59317);
}

@media (max-width: 1200px) {
  .intro h1 {
    font-size: 48px;
  }

  .intro p {
    font-size: 18px;
  }
}
@media (max-width: 800px) {
  .intro-bg {
    background: #111111;
    padding-top: 40px;
    box-shadow: inset 0 -60px #ffffff;
  }
  .intro {
    grid-template-columns: 1fr;
    gap: 32px;
  }

  .intro-conteudo {
    padding: 0;
  }
  .intro h1 {
    font-size: 32px;
    margin-bottom: 16px;
  }

  .intro img {
    height: 300px;
    width: 100%;
  }
}

@media (max-width: 600px) {
  .intro a {
    padding: 12px 16px;
    font-size: 16px;
  }
}
/* ---------- */
